:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --purple-avatar: #9B63FC;
  --purple-card: #9A63FB;
  --purple-graph: #8234F8;

  --button-accent: #FF643B;
  --button-default: #A3A3A3;

  --text-body: #A3A3A3;
  --text-grey: #FAFAFA;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

div.mobile-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 414px;
  height: 896px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

div#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0 24px;
}

.quick-nav-button.active,
.quick-nav-button.active:hover {
  color: #fff;
  background-color: #2F3046;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #e2e8f0;
  }
}
